PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=93utlsLeHpGTuuUqDkLxSFmHZsfyZXgi
DRIVE_DISK=local
DATABASE_URL="mongodb://localhost:27017/idiomas"
GMAIL_USUARIO="test@gmail.com"
GMAIL_KEY="1234abcd5678efgh"
FRONTEND_URL="http://localhost"